<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Instrumentos</title>
</head>
<body>
  <h1>Lista de Instrumentos</h1>
  <a href="/create">Crear nuevo instrumento</a>
  <table border="1">
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Tipo</th>
      <th>Acciones</th>
    </tr>
    {% for inst in instruments %}
    <tr>
      <td>{{ inst.id }}</td>
      <td>{{ inst.name }}</td>
      <td>{{ inst.type }}</td>
      <td>
        <a href="/edit/{{ inst.id }}">Editar</a> |
        <a href="/delete/{{ inst.id }}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
